@import "./reset.scss";

@font-face {
	font-family: 'NineteenNinetySeven';
	src: url('../fonts/NINETEENNINETYSEVEN-11XB.ttf') format('truetype'),
        url('../fonts/NINETEENNINETYSEVEN-11XB.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
    font-family: inherit;
}

#main-canvas {
    width: 1280px;
    height: 800px;
}

button {
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid #09f;
    background-color: #0af;
    cursor: pointer;
    color: #fff;
    transition: all .2s;

    &:hover {
        background-color: #0cf;
    }
}

.game {
    position: absolute;
    font-family: "NineteenNinetySeven";
    padding: 20px;
    display: flex;
    background-color: #ddd;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.actions {
    margin-left: 10px;

    &-buttons {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.actions, .caption {
    font-size: 18px;
    color: #555;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    width: 80%;
    height: auto;
}

.righ-container {
    position: relative;
}